/*************************/
/* HEADER */
/*************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e3a42;

  /* Because we want header to be sticky later */
  height: 8rem;
  padding: 0 13rem;
  top: 0;
  z-index: 999;
  position: sticky;
}

.logo {
  height: 2.2rem;
  width: 2.2rem;
}

/*************************/
/* NAVIGATION */
/*************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  position: relative;
  z-index: 999;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e5e5e5;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #af7f51;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #e5e5e5;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*************************/
/* HOMEPAGE SECTION */
/*************************/

.section-homepage {
  background-color: #33636c;
  padding: 0;
}

.homepage {
  height: 90rem;
  background-image: linear-gradient(to right bottom, #2050595d, #507a823f),
    url("/images/guitarbackground.webp");
  position: relative;
  background-size: cover;
}

.heading-main {
  padding: 6.4rem 0 2.4rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14.4rem;
  font-weight: 600;
  color: #c5c5c5;
  text-align: center;
  margin: 0 auto;
}

.subheading-main {
  padding: 0 0 2.4rem 0;
  font-family: "PT Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  color: #c5c5c5;
  text-align: center;
}

.homepage-link {
  list-style: none;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.link-bros {
  position: absolute;
  bottom: 1.8rem;
}
.reverb-link {
  height: 6.2rem;
  width: 20.506rem;
}
.insta-link {
  height: 6.2rem;
  width: 6.2rem;
  color: #77979c;
  padding-left: 3.6rem;
}

/*************************/
/* ABOUT US SECTION */
/*************************/

.section-about {
  background-color: #205059;
  scroll-margin-top: 7rem;
}

.about-us {
  text-align: center;
  max-width: 120rem;
  margin: 0 auto;
}

.about-header {
  color: #e5e5e5;
  font-weight: 600;
  font-size: 9.6rem;
  font-family: "Montsserrat", Arial, Helvetica, sans-serif;
  padding-top: 4.8rem;
}

.about-body {
  color: #e5e5e5;
  font-weight: 400;
  font-size: 3rem;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  padding: 3.2rem 3.2rem 8rem;
  line-height: 1.8;
  text-align: left;
  text-indent: 10%;
}

/*************************/
/* GALLERY SECTION */
/*************************/

.section-gallery {
  background-image: linear-gradient(to right bottom, #507a82a2, #77979cc2),
    url("/images/bluestuff.webp");
  height: 110rem;
  position: relative;
  background-size: cover;
  scroll-margin-top: 7rem;
}

.gallery-header {
  color: #e5e5e5;
  font-weight: 600;
  font-size: 9.6rem;
  font-family: "Montsserrat", Arial, Helvetica, sans-serif;
  padding: 4.8rem 0;
  text-align: center;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 85.4rem;
  height: 48rem;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.gallery-img {
  height: auto;
  width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1.6rem;
  margin-top: -5rem;
  color: #e5e5e5;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #e5e5e5;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 0.6rem 1.6rem;
  color: #e5e5e5;
  font-size: 2.4rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 18rem;
}

.active,
.demo:hover {
  opacity: 1;
}

/*************************/
/* CONTACT SECTION */
/*************************/

.section-contact {
  height: 82rem;
  background-image: linear-gradient(to right bottom, #20505975, #507a829a),
    url("/images/grayback.webp");
  position: relative;
  background-size: cover;
  text-align: center;
  scroll-margin-top: 7rem;
}

.contact-header {
  color: #e5e5e5;
  font-weight: 600;
  font-size: 9.6rem;
  font-family: "Montsserrat", Arial, Helvetica, sans-serif;
  padding-top: 4.8rem;
}

.contact-subheader {
  padding: 3.2rem 0 3.2rem;
  font-family: "PT Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  color: #e5e5e5;
}

.cta-form {
  margin: 0 auto;
  max-width: 96rem;
  padding: 4.8rem 0;
  background-color: #205059;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
  text-align: center;
}

.cta-form label {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
}

.example-text label {
  padding-top: 0;
  padding-bottom: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name-container {
  padding-left: 16rem;
  padding-bottom: 3.2rem;
}

#full-name {
  height: 3.2rem;
  width: 26rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.email-container {
  padding-right: 16rem;
  padding-bottom: 3.2rem;
}

#email {
  height: 3.2rem;
  width: 26rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text-div {
  align-content: center;
}

textarea {
  width: 64rem;
  height: 24rem;
  background-color: #e5e5e5;
  resize: none;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea::placeholder {
  color: #77979c;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-div {
  padding: 3.2rem 0 0 0;
}

#submit {
  padding: 1.2rem 3.6rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/*************************/
/* FOOTER SECTION */
/*************************/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0e3a42;
  height: 8rem;
  width: 100%;
  padding: 0 13rem;
}

.copy-col {
  text-decoration: none;
  color: #e5e5e5;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
  align-self: center;
}

.social-col {
  align-self: center;
  justify-self: center;
}

.instagram-link {
  height: 6.2rem;
  width: 6.2rem;
  color: #e5e5e5;
  padding-left: 3.6rem;
}
