* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e5e5e5;
}
